@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro&family=Lato:wght@700&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Be Vietnam Pro';
}

body{
    min-height: 100vh;
    padding: 15px;    

    background-image: url("../img/bg-image.svg");
    display: flex;
    flex-direction: column;
}
header{
    .logo{
        .logo-img{
            width: 80px;
        }
    }
}
li{
    list-style: none;
    color: #111729;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.text{
    text-align: center;
    h1{
        font-size: 2rem;
        color: #fff;
    }

}
p{
    margin-top: 15px;
    color: #F8FAFC;
}
input[type="submit"]{
    color: #4036A9;
    border: none;
    width: 100%;
    outline: none;
    font-size: 1rem;
    text-align: center;
    padding: 26px;
    border-radius: 15px;
    margin-top: 1.5rem;
    cursor: pointer;
    &:hover{
        background-color: #e3e4e6;
    }
}
.form-container{
    background: rgba(255, 255, 255, 0.14);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    padding: 20px;
    margin-top: 3rem;
    margin-bottom: 3rem;
    max-width: 500px;

    form{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    p{
        font-size: 14px;
    }
    .first{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        gap: 10px;
        .lista-container{
            min-width: 220px;
        }
        p{
            margin-bottom: 8px;
        }
        button{
            width: 100%;
            font-weight: 500;
            text-align: left;
            display: flex;
            align-items: center;
            padding: 20px;
            border-radius: 15px;
            border: none;
            cursor: pointer;
            justify-content: space-between;
            &:hover{
                background-color: #e3e4e6;
            }
        }
        input{
            width: 100%;
        }
    }

}
input[type="text"]{
    border: none;
    outline: none;
    padding: 20px;
    border-radius: 15px;
}
textarea{
    border: none;
    outline: none;
    border-radius: 15px;
    padding: 15px;
    font-size: 1rem;
    resize: none;
    width: 100%;
}
.dropdown{
    position: relative;
    background-color: white;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    display: none;
    transition: .5s;
    li{
        cursor: pointer;
        padding: 5px 10px;
        border-radius: 15px;
        &:hover{
            background-color: #e3e4e6;
        }
    }
}
.active{
    display: flex;
    bottom: -.5rem;
}

.message{
    gap: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
}


@media (max-width: 500px) {
    .first{
        flex-direction: column;
    }
}